div.sidebar {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
div.sidebar-small {
  border-bottom: 1px solid #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
img#avatar {
  width: 200px;
}
img#header {
  width: 100%;
}
div#blog {
  border-right: 1px solid #ccc;
}
div#footer {
  /*border-top: 1px solid #ccc;*/
}
div#social {
  margin: 1em;
}
div#social>a {
  font-size: 40px;
}
div.post
{
  border-bottom: 1px solid #ccc;
}
div.post:last-child
{
  border: none;
}
div#main {
  padding-top: 1em;
}
div.highlight {
  border-radius: 4px;
}
div#post {
  margin-bottom: 2em;
}
